@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
    --border: 0.2rem solid var(--main-color);
    --border-hover: 0.2rem dashed var(--main-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}
body {

    background-color: aqua;
}

html {
    font-size: 62.5%; /* Sets base font size to 10px */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.05rem var(--main-color);
    letter-spacing: 0.2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

.btn:focus {
    outline: 2px dashed var(--main-color);
    outline-offset: 2px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: var(--main-color);
    font-size: 2.3rem;
}

.header .logo i {
    padding-left: 0.5rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}


#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.home {
    
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../image/home-bg.jpg) no-repeat center/cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content,
.home .row .image {
    flex: 1 1 42rem;
    text-align: center;
}

.home .row .image {
    padding-top: 10rem;
}

.home .row .image img {
    height: 35rem;
  
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7rem);
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    text-transform: uppercase;
}
.content h3 p {
    color: aqua;

}

.home .image-slider {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Flbb.in%2Fmumbai%2Fhome-delivery-coffee-joints%2F&psig=AOvVaw1ucunnJ0UevOoJimhufscJ&ust=1721936486953000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCIDXpbe3wIcDFQAAAAAdAAAAABAo);
    text-align: center;
    padding: 3rem 0;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 0.5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image,
.contact .row .image {
    flex: 1 1 42rem;
}

.about .row .content,
.contact .row form {
    flex: 1 1 42rem;
}

.about .row .image img,
.contact .row .image img {
    width: 100%;
    
}

@keyframes aboutImage {
    0%, 100% {
        transform: scale(0.9);
        border-radius: var(--border-radius);
    }
    50% {
        transform: scale(1);
        border-radius: var(--border-radius-hover);
    }
}

.about .row .content h3 {
    font-size: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row .content p,
.contact .row form .box-container .box p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.menu .box-container,
.reviews .box-container,
.contact .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.menu .box-container .box,
.reviews .box-container .box,
.contact .box-container .box {
    padding: 2rem;
    border: var(--border);
    text-align: center;
    flex: 1 1 30rem;
    overflow: hidden;
    position: relative;
  
}

.menu .box-container .box img,
.reviews .box-container .box img {
    height: 15rem;
    object-fit: cover;
    margin: 1rem 0;
    
    
}



.menu .box-container .box h3,
.reviews .box-container .box h3,
.contact .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--main-color);
}

.menu .box-container .box p,
.reviews .box-container .box p,
.contact .box-container .box p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.reviews .box-container .box i {
    color: var(--main-color);
    padding: 0.5rem;
    font-size: 1.7rem;
}

.reviews .box-container .box .quote {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 8rem;
    color: var(--main-color);
    opacity: 0.1;
}



.footer .credit {
    font-size: 2rem;
    color: #fff;
    padding-top: 2rem;
}

.footer .credit span {
    color: #ff3838;
}

@media (max-width: 991px) {
    html {
        font-size: 55%; /* Adjusting base font size for smaller screens */
    }
    .header,
    section {
        padding: 2rem; /* Adjusting padding for smaller screens */
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem; /* Adjusting heading size for smaller screens */
    }
    .heading span {
        font-size: 2.3rem; /* Adjusting subheading size for smaller screens */
    }
    #menu-btn {
        display: initial;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
   
    .header .navbar.active {
        max-height: 500px; /* Adjust as needed */
        opacity: 1;
    }
    .header .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }
    .home {
        text-align: center;
    }
    .home .row .content h3 {
        font-size: 4rem;
    }
    .menu .box-container .box {
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }
    .menu .box-container .box img {
        margin-left: 0;
        margin-top: -6rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%; /* Adjusting base font size for even smaller screens */
    }
    .home .row .image img {
        height: auto;
        width: 100%;
    }
}
.center
{
    text-align: center;
    border: 3px solid green;
}
